.menu {
    width: 100%;
    display: flex;
    flex-direction: column; 
}
.item {
    composes: text text_type_main-medium from global;
    text-decoration: none;
    color: var(--inactive);
    line-height: 60px;
    background: transparent;
    border: 0;
    padding: 0;
    margin: 0;
    text-align: left;
    cursor: pointer;
}
.activeItem {
    color: #fff;
}