.nav_link {
    composes: pl-5 pr-5 pt-4 pb-4 from global;
    color: var(--inactive);
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}
.nav_link:visited,
.nav_link:hover {
    text-decoration: none;
}
.nav_link svg {
    vertical-align: bottom;
    fill: var(--inactive);
}
.nav_link_active {
    composes: nav_link;
    color: var(--text);
    cursor: default;
}
.nav_link_active svg {
    fill: var(--text);
}