.nav_link {
    composes: pl-5 pr-5 pt-4 pb-4 from global;
    color: var(--inactive);
    text-decoration: none;
    display: inline-block;
}
.nav_link:visited,
.nav_link:hover {
    text-decoration: none;
}
.nav_link svg {
    vertical-align: bottom;
    fill: var(--inactive);
}
.nav_link:hover {
    color: var(--text);
}
.nav_link:hover svg {
    fill: var(--text);
}