
.item {
    position: relative;
    composes: p-6 mb-4 from global;
    border-radius: 40px;
    background-color: var(--bg-modal);
}
.title {
    composes: text text_type_main-medium mb-6 from global;
}
.head {
    display: flex;
    justify-content: space-between;
    composes: mb-6 from global;
}
.head_number {
    display: inline-block;
    composes: text text_type_digits-default from global;
}
.head_date {
    display: inline-block;
    color: var(--inactive);
    composes: text text_type_main-default from global;
}

.body {
    display: flex;
    justify-content: space-between;
    height: 60px;
}
.body img {
    height: 56px;
    width: 56px;
    border-radius: 29px;
    border: 2px solid var(--link);
    margin-left: -12px;
    background-color: var(--background-alt);
}
.body_price {
    display: inline-block;
    composes: text text_type_digits-default from global;
    white-space: nowrap;
    line-height: 60px;
    height: 60px ;
}
.body_price svg {
    padding-left: 10px;
    display: inline-block;
    margin-bottom: -4px;
}
.body_add {
    height: 56px;
    width: 56px;
    border-radius: 29px;
    border: 2px solid var(--link);
    position: absolute;
    display: inline-block;
    composes: text text_type_digits-default from global;
    background-color: rgb(0,0,0,0.7);
    line-height: 52px;
    text-align: center;
    color: var(--text-primary-color);
    margin-left: -60px;
}