.header {
    background: var(--bg-modal);
    position: relative;
}
.header_block {
    max-width: calc(var(--max-width) + var(--offset-base-size) * 8);
    display: flex;
    margin: auto;
    justify-content: space-between;
}
.header_logo {
    position: absolute;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}